/*Generales*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    color: #051626;
}

/*Utilidades*/

.container {
    width: 80%;
    margin: 0px auto;
}

.text-center {
    text-align: center;
}

/*Cabecera*/

.header {
    padding: 50px 0px;
    box-shadow: 0px 0px 10px gray;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .container > a {
    display: block;
    display: flex;
    color: black;
    align-items: center;
}

.header > .container > a > img {
    padding-right: 10px;
}

.header > .container > a > h2 {
    font-size: 35px;
}

.logo {
    height: 60px;
}

.nav {
    display: flex;
    margin-right: 10%;
}

.nav > .courses-cart {
    font-size: 25px;
    margin-right: 30%;
    align-self: center;
}

.cart-table {
    position: absolute;
    background-color: white;
    font-size: 15px;
    box-shadow: 0px 0px 5px gray;
    display: block;
    min-height: 250px;
    padding: 10px;
    left: 55%;
    opacity: 0;
}

.courses-cart:hover .cart-table{
    opacity: 1;
}

.cart-table td {
    padding: 0px 5px;
}

.nav li {
    padding-right: 40%;
}

.nav li a {
    color: black;
    font-size: 25px;
    transition: all 300ms;
}

.nav li a:hover{
    font-size: 30px;
}

/*Seccion landing*/

.landing-section {
    display: flex;
    flex-direction: column;
}

.landing-section > div {
    margin-top: 50px;
}

.text-w-programmer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal-text-box {
    width: 50%;
}

.principal-text-box > h1{
    display: block;
    font-size: 50px;   
    margin-bottom: 30px;
}

.button {
    background-color: #5bcc85;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 300ms;
}

.button:hover {
    background-color: white;
    color: #5bcc85;
    border: 1px solid #5bcc85;
}

.principal-text-box > h3 {
    margin-top: 20px;
    font-weight: 300;
}

.image-programmer {
    height: 350px;
}
/*how it works section*/
.how-it-works {
    display: grid;
    grid-template-rows: 150px 300px ;
    grid-template-columns: repeat(3,1fr);
    margin-top: 49px;
    margin-bottom: 49px;
}

.title-hw {
    align-self: center;
    grid-column: 1 / 4;
    text-align: center;
    font-size: 35px;
}

.card-hw {
    text-align: center;
    display: grid;
}

.icon {
    font-size: 120px;
    color: #051626;
}

/*footer*/
.footer {
    /* margin-top: 55px; */
    background-color: #051626;
    color: white;
    padding: 50px 0px;
}

.f-decoration {
    background-color: #292c3f;
    height: 25px;
    width: 50%;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 15px;
    position: relative;
    top: 12.5px;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer > .container > a {
    display: flex;
    align-items: center;
    color: white;
}

.footer > .container > a > img {
    padding-right: 10px;
}

.text-copy {
    font-weight: 300;
}

/* Contacto */

.form-section {
    width: 470px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px gray;
    padding: 50px;
    background-color: #272a34;
    border-radius: 10px;
}

.form-section > h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > * {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    height: 40px;
    color: white;
}

.form > textarea {
    height: 100px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.form > textarea::placeholder {
    font-family: 'Roboto', sans-serif;
}

.form > input[type=text],
.form > textarea {
    background-color: #272a34;
}

.form > input[type=text]:focus,
.form > textarea:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.form > input[type=submit] {
    width: 30%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f39422;
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    transition: all 300ms;
}

.form > input[type=submit]:hover {
    background-color: #d67a0c;
}

/*Cursos*/

.courses {
    display: grid;
    grid-template-rows: 50px 80px 440px 440px 440px 440px;
    /* column-gap: 5%; */
    grid-template-columns: repeat(6,1fr);
}

.title-courses {
    grid-column: 1 / 7;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.sort-container {
    grid-column: 1 / 7;
    margin-top: 30px;
}

.sort-container > div > p {
    font-weight: 400;
    color: #bbb;
    font-size: 18px;
}

.sort-container > div > select {
    margin-top: 10px;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    cursor: pointer;
}

.sort-container > div > select:focus {
    outline: none;
}

.img-card {
    height: 250px;
}

.course-card {
    box-shadow: 0px 0px 4px gray;
    margin-top: 30px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.first-column {
    grid-column: 1 / 3;
}

.second-column {
    grid-column: 3 / 5;
}

.third-column {
    grid-column: 5 / 7;
}

.content-card {
    padding: 15px;
}

.content-card h2 {
    font-size: 18px;
    color: #051626;
}

.content-card > div {
    margin-top: 10px;
    color: green;
    display: flex;
}


.button-add {
    margin: 0px auto;
    margin-top: 15px;
    width: 100%;
    padding: 12px 0px;
    border: none;
    background-color: #163857;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

.button-add:hover {
    background-color: #051626;
}

/*Media queries*/

@media (max-width: 1012px) {
    .first-column-md {
        grid-column: 1 / 4;
    }

    .second-column-md {
        grid-column: 4 / 7;
    }
}

@media (max-width: 946px) {
    .nav li a{
        font-size: 15px;
    }

    .principal-text-box > h1{  
        font-size: 30px;
    }
    
    .principal-text-box > h3 {
        margin-top: 20px;
        font-weight: 300;
        font-size: 15px;
    }

    .image-programmer {
        height: 200px;
    }
}

@media (max-width: 885px){
    .how-it-works {
        display: grid;
        grid-template-rows: 150px 300px 300px 300px;
    }

    .card-hw {
        grid-column: 1 / 4;
    }
}

@media (max-width: 707px) {
    .footer > .container {
        flex-direction: column;
    }

    .footer > .container > div {
        padding-top: 20px;
    }

    .one-column {
        grid-column: 1 / 7;
    }
}

@media (max-width: 590px) {
    .form-section {
        width: 300px;
    }

    .form-section input[type=submit] {
        width: 45%;
    }
}

@media (max-width: 568px) {

    .header {
        padding-bottom: 0px;
    }

    .header > .container {
        flex-direction: column;
    }

    .nav {
        margin-top: 30px;
        flex-direction: column;
    }

    .nav > .courses-cart {
        order: 3;
        padding-bottom: 25px;
    }

    .nav li {
        text-align: center;
        padding: 0px;
        padding-bottom: 25px;
        font-size: 20px;
    }

    .text-w-programmer {
        flex-direction: column;
    }

    .text-w-programmer .principal-text-box {
        order: 2;
        width: 80%;
    }
    
    .text-w-programmer > .principal-text-box > h1 {
        text-align: center;
    }

    .image-programmer {
        height: 150px;
    }
}

@media (max-width: 409px) {
    .form-section {
        width: 200px;
    }

    .form-section input[type=submit]{
        width: 70%;
    }
}